</main>
</div>

<footer>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-md-0">Contact Me</span>
            </div>
            <ul class="footer-icons nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://www.instagram.com/shrey_166/"
                        aria-label="Instagram">
                        <img src="/images/Instagram.svg" alt="Instagram Icon">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://www.linkedin.com/in/shrey-bansal-sb15704/"
                        aria-label="LinkedIn">
                        <img src="/images/Linkedin.svg" alt="LinkedIn Icon">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="mailto:shreybansal15704@gmail.com"
                        aria-label="E-mail">
                        <img src="/images/Mail.svg" alt="Mail Icon">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://x.com/ShreyB007_"
                        aria-label="Twitter-x">
                        <img src="/images/Twitter-x.svg" alt="Twitter-x Icon">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://github.com/ShreyB-007"
                        aria-label="Github">
                        <img src="/images/Github.svg" alt="Github Icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script src="/scripts/script.js" charset="UTF-8"></script>

</body>
</html>