<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Declaring all the css below -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <title>Unfiltered Digital Rant</title>

    <!-- Declaring all the font styles below -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body class="gradient-background d-flex flex-column min-vh-100">
<div class="flex-grow-1">

<header class="container pt-4">
    <h1><b>Unfiltered Digital Rant</b></h1>
    <h2>Share your thoughts, rants, maybe some secrets cause why not, it's not like I've a database setup secretly to save them (or do I?)</h2>
</header>

<main class="container">